{% extends "base.html" %}
{% block title %}About{% endblock %}
{% set active_page = "about" %}

{% block content %}
    <div class="col align-self-center">
     <div class="container mt-4 d-flex w-50 h-100 p-3 mx-auto flex-column text-left text-justify">
        <h1>About Elizabeth Lam </h1>
        <p>I’m a computer science student at Concordia University. I'm currently the Command & Data Handling Lead for Space
        Concordia's Spacecraft Division. Hugely enthusiastic about space, design, and video games, I hope to one day contribute
            to the things I love. </p>
    <p>My current focus is on Computer Graphics and Flight Software development, both in C++.</p>
     </div>
    </div>
{% endblock %}